        <div class="row border-bottom" id="job-card">
          <div class="col-11">
            <h4 id="job-title">
              {{job.title}}
            </h4>
            <div id=job-local>
              <strong>Local:</strong>
              {{job.locality}}
            </div>
            <div id=job-salary>
              <strong>Salary:</strong>
              {{job.salary}}
            </div>
          </div>
          <div class="col-1">
          <a href="mailto:someone@yoursite.com?subject=Job Apply: {{job.title}}" type="button" class="btn btn-outline-primary">Apply</a>
          </div>
        </div>