h1 {
  text-align: center;
  font-size: 44px;
  font-family: Roboto;
  font-weight: normal;
  color: rgb(100, 100, 100);
  
}

h2 {
  text-align: center;
  font-size: 32px;
  font-family: Roboto;
  font-weight: normal;
  color: rgb(80, 80, 80); 
}

#home-banner {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

#contact-button {
  text-align: center;
}

#job-card {
  margin-bottom: 16px;
}

#job-title {
  color: rgb(120, 120, 120);
  margin-bottom: 4px;
}